.main {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  overflow: hidden;
  position: relative;
  .title {
    position: absolute;
    left: 100px;
    width: 52%;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 3px;
  }
  .dec {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: rgba(194, 196, 202, 1);
  }
}
